@model PagedList.IPagedList<Models.EF.Content>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản Lý Tin Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách Tin tức
}
@section jsFooter{

}
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables News</h6>
        </div>
        @using (Html.BeginForm("Index", "Content", FormMethod.Get))
        {
            <div class="row col-lg-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.search" class="form-control" name="search" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Tìm Kiếm</button>
                    <a class="btn btn-primary" href="/Admin/Content/Create">Thêm mới</a>
                </div>
            </div>
        }
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Tiêu đề</th>
                            <th>Hình ảnh</th>
                            <th>Ngày đăng</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    @*<tfoot>
                            <tr>
                                <th></th>
                                <th>Tên Tài Khoản</th>
                                <th>Tên</th>
                                <th>Nhóm</th>
                                <th>Địa Chỉ</th>
                                <th>Email</th>
                                <th>Ngày Tạo</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </tfoot>*@
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID">

                            <td>@item.Name</td>
                            <td>@item.Image</td>
                            <td>@item.CreatedDate</td>
                            <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích Hoạt" : "Khoá")</a></td>
                            <td>
                                <a href="/Admin/Content/Edit/@item.ID">Sửa |</a> @*muốn nỗi chuỗi thì thêm @ vào*@

                                @Ajax.ActionLink("Xoá", "Delete", new { @id = @item.ID }, new AjaxOptions@*truyền vào tên và controller*@
                                {
                                    Confirm = "Bạn có muốn xoá tài khoản này?",
                                    OnComplete = "$('#row_" + @item.ID + "').remove()",
                                    HttpMethod = "Delete"   /*truyền vào controller method Delete*/
                                })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = @ViewBag.search }))
            </div>
        </div>
    </div>
</div>