@model List<Web_ASPMVC.Models.CartItem>
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*@section Name_Container{
        @Model.Name
    }*@
@section Js_cartItem
    {
    <script src="/assets/Client/js/controller/cartController.js"></script>
}

<div class="w3l_banner_nav_right">
    <button id="btnContinue" class="btn btn-success" style="float:right; margin:50px">Tiếp tục mua hàng <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span></button>
    <!-- about -->
    <div class="privacy about">
        <h3>Chec<span>kout</span></h3>

        <div class="checkout-right">
            <h4>
                @{Html.RenderAction("HeaderCart", "Home");}
                <button id="btnUpdate" class="btn btn-success" style="float:right">Cập nhập giỏ hàng</button>
            </h4>

            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>

                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet/" + item.Product.MetaTitle + "-" + item.Product.ID;
                        <tr class="rem1">
                            <td class="invert">1</td>
                            <td class="invert-image"><a href="@url"><img src="@item.Product.Image" alt="" class="img-responsive"></a></td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus">&nbsp;</div>
                                        @*<div class="entry value" ><span >1</span></div>*@
                                        <input id="txtquantity" class="entry value" data-id="@item.Product.ID" value="@item.Quantity" />

                                        <div class="entry value-plus active">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@item.Product.Name</td>

                            <td class="invert">$@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                            <td class="invert">
                                <div class="rem">
                                    <a href="#"><div id="btnDeleteItem" data-id="@item.Product.ID" class="close1"> </div></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- end checkout-->

        <div class="checkout-left">
            <div class="col-md-4 checkout-left-basket">
                <h4>Continue to basket</h4>

                <ul>
                    @{decimal total = 0;}
                    @foreach (var item in Model)
                    {
                        <li>@item.Product.Name <i>-</i> <span>$@(item.Product.Price.GetValueOrDefault(0).ToString("N0")) </span></li>
                        <li>
                            Total <i>-</i>
                            @*<span>$@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0")) </span>*@
                            <span>$@(total += (item.Product.Price.GetValueOrDefault(0) * item.Quantity)) </span>
                        </li>
                    }
                </ul>
            </div>
            <button id="btnPayment" class="submit check_out">Thanh toán</button>
        </div>
    </div>
    <!-- //about -->
</div>
<div class="clearfix"></div>

@*@section Js_cartItem{
      <script src="/assets/Client/js/CartItem.js"></script>
    }*@